[submodule "external/NeuralSurrogateKalmanChlorineEstimation"]
	path = external/NeuralSurrogateKalmanChlorineEstimation
	url = https://github.com/andreArtelt/NeuralSurrogateKalmanChlorineEstimation.git
